* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

p{
    font-family: "Mulish", "Space Mono";
}

header {
    position: absolute;
    width: 100vw;
}

.header_icons_container {
    margin: 1%;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.header_icon_container {
    width: 4%;
}

.header_icon {
    width: 100%;
    height: 100%;

    transition-duration: 0.5s;
}

.header_icon:hover{
    transform: rotate(25deg);
}

section{
    background-color: rgb(255, 0, 0);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}

.section01 {
    background-color: black;
}

.section02 {
    background-color: rgb(90, 90, 90);
}

.section03 {
    background-color: black;
}

.wave01 {
    position: absolute;
}