* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    z-index: 1;
}

body {
    overflow-x: hidden;
    font-family: "Mulish";
    color: white;
}

header {
    position: absolute;
    width: 100vw;
}

.header_icons_container {
    margin: 1%;
    display: flex;
    justify-content: center;
    gap: 7%;
}

.header_icon_container {
    width: 4%;
}

.header_icon {
    width: 100%;
    height: 100%;

    transition-duration: 0.5s;
}

.header_icon:hover {
    transform: rotate(20deg);
}

section {
    background-color: rgb(255, 0, 0);
    height: 100vh;
}

.section02 {
    background-color: gray;
}

.section03 {
    background-color: black;
}



.section01 {
    background-color: black;
}

.wave01 {
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.hero_text_container {
    position: absolute;
    left: 40%;
    top: 30%;
}

.hero_text_main_container {
    margin-bottom: 5px;
}

.hero_text_main {
    font-size: 95px;
}

.hero_text_secondary {
    font-size: 25px;
    font-family: monospace;
}

.rotate_right{
    transition-duration: 0.5s;
}
.rotate_right:hover{
    transform: rotate(5deg);
}

.rotate_left{
    transition-duration: 0.5s;
}
.rotate_left:hover{
    transform: rotate(-5deg);
}

p:hover {
    cursor: default;
}